<h1>Discount #<%= @discount.id %></h1>

<section>
  <section class = "discount-<%= @discount.id %>">
    <p>Code: <%= @discount.code %></p>
    <p>Description: <%= @discount.description %></p>
    <p>Discount: <%= @discount.discount %>%</p>
    <p>Number of Items needed: <%= @discount.number_of_items %></p>
  </section>
</section>